.canvas-box{
    display: flex;
    justify-content: space-around ;
    margin: 10px 0;
}

h1, .turno{
    display: flex;
    justify-content: center;
}

.jugador1, .jugador2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.canvasGeneral {
    display: none;
}


.box-timer{
    display: flex;
    justify-content: space-between;
}

.rules{
    margin-right: 30px;
}
